<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="min-h-screen flex flex-col justify-center items-center bg-gray-100">
        <img src="" alt="Logo"
            class="object-cover w-40 h-40 mb-8 rounded-full">
        <h1 class="text-4xl font-bold mb-4">Coming Soon</h1>
        <p class="text-lg mb-8 px-4 md:px-0">We're working hard to bring you something awesome. Stay tuned!</p>

    </div>

</body>

</html>
